body
{
    width: auto;
    margin: auto;
}

.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#header 
{
    background-color: rgb(0, 20, 75);
    height: 60px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

table {
  border-spacing: 10px;
}

#hnav
{
    background-color: rgb(126, 126, 126);
    overflow: auto;
}

#content
{
    background-color: rgb(255, 255, 255);
    height: 300px;
    float: left;
    width: 80%;
    padding-left: 10px;
    margin-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#footer
{
    background-color: rgb(0, 20, 75);
    height: 100px;
    clear: left;
}

.nav
{
    list-style-type: none;
    padding: 0;
    overflow: auto;
    background-color:rgb(163, 163, 163);
    margin: 0;
}
            
.nav li 
{
    width: 80px;
    float: left;
    padding: 10px 0;
    text-align: center;
    color: white;
}
            
nav li:hover
{
    background-color: rgb(53, 93, 204);
}

#hnav li
{
    width: 150px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: pink;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #FF2893
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgb(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.text{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color:black;
  padding: 10px 0;
  height: 150px;
}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#myImg
{
  float:left;
}

h2{ 
  font-family: Courier New;
  color: blue;
  text-align: center;
}